.container {
  width: 80%;
  margin: 0 auto;
}

.image-carousel {
  position: relative;
  overflow: hidden;
  max-width: 100%; 
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 10%;
  flex: 0 0 auto;
  overflow: hidden; 
  
}

.slide img {
  display: block; 
  width: 100%; 
  height: auto; 
  object-fit: cover; 

}

.image-carousel button {
  margin-top: 10px; 
}
